yt-live-chat-viewer-engagement-message-renderer {
    display: none !important;
}
svg#chat-history-icon {
    fill: var(--yt-live-chat-picker-button-color);
    float: right;
    margin-top: 24px;
    margin-right: 2px;
    cursor: pointer;
}
svg#chat-history-icon.active {
    fill: var(--yt-spec-icon-active-other);
}
#chat-history {
    user-select: none;
    height: 0px;
    background-color: var(--yt-spec-brand-background-primary);
}
#close-button {
    justify-content: center;
    align-items: center;
    float: right;
    margin: 5px;
    height: 18px;
    width: 18px;
    font-size: 15px;
    color: var(--yt-live-chat-text-input-field-placeholder-color);
    cursor: pointer;
}
#tab-select-bar {
    text-align: center;
}
.tab-selecter {
    display: inline-block;
    color: var(--yt-live-chat-tertiary-text-color);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 6px;
    margin-left: 6px;
    cursor: pointer;
}
.tab-selecter.active {
    color: var(--yt-spec-icon-active-other);
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}
.chat-select-field {
    display: flex;
    height: 100px;
    width: 100%;
}